{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<h1>Hi, {{ current_user.username }}!</h1>

<form method="post" action="">
    {{ recipe_form.hidden_tag() }}

    {{ wtf.form_field(recipe_form.name) }}
    {{ wtf.form_field(recipe_form.ingredients) }}

    <input type="submit" class="btn btn-primary" value="Save">
</form>

<table>
    <thead>
        <tr>
            <th>Segunda</th>
            <th>Terça</th>
            <th>Quarta</th>
            <th>Quinta</th>
            <th>Sexta</th>
            <th>Sábado</th>
            <th>Domingo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>January</td>
            <td>$100</td>
        </tr>
    </tbody>
</table>
{% endblock %}