{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<h1>Hi, {{ current_user.username }}!</h1>

<form method="post" action="">
    {{ recipe_form.hidden_tag() }}
    <div class="container">

        <div class="col-12">
            {{ wtf.form_field(recipe_form.name) }}
        </div>

        <div id="ingredients">
            {% for ingredients in recipe_form.ingredients %}
                {{ ingredients.hidden_tag() }}
                {{ wtf.form_field(ingredients)  }}
            {% endfor %}
        </div>

        <div class="col-12">
            <button id="add_ingredient" type="button" class="btn btn-primary">Add Ingredient</button>
        </div>


        <div class="col-12">
            <input type="submit" class="btn btn-primary" value="Save">
        </div>

    </div>
</form>

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/recipe.js') }}"></script>
{% endblock %}