<nav class="navbar navbar-expand-lg justify-content-between navbar-dark" style="background-color: #563d7c; height: 90px;">
    <a class="navbar-brand" href="{{ url_for('main.my_recipes') }}"><img src="{{ url_for('static', filename='images/recipe.png') }}" width="42"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link nav_text {% if my_recipes %} active {% endif %}" href="{{ url_for('main.my_recipes') }}">My recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_text {% if all_recipes %} active {% endif %}" href="{{ url_for('main.all_recipes') }}">All recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_text {% if add_recipe %} active {% endif %}" href="{{ url_for('main.add_recipe') }}">Create</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                {% if g.search_form and (all_recipes or my_recipes) %}
                <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.search', url_to_redirect=recipe_url) }}" style="margin-top: 16px;">
                    <div class="form-group">
                        {{ g.search_form.q(size=20, class='form-control',
                            placeholder=g.search_form.q.label.text) }}
                    </div>
                </form>
                {% endif %}
            </li>
        </ul>
    </div>
    <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cog"></i> Settings
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink">
                {% if current_user.is_anonymous %}
                    <a class="dropdown-item" href="{{ url_for('auth.login') }}"><span class="fas fa-sign-in-alt"></span> Login</a>
                    <a class="dropdown-item" href="{{ url_for('auth.register') }}"><span class="fas fa-user"></span> Sign Up</a>
                {% else %}
                    <a class="dropdown-item" href="{{ url_for('auth.logout') }}"><span class="fas fa-sign-out-alt"></span> Log Out</a>
                {% endif %}
            </div>
        </li>
    </ul>
</nav>